<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="clinica-facil" />
  <title>Clínica Fácil | Sistema Online</title>
  <link
    rel="icon"
    type="image/png"
    href="/favicon-96x96.png?v=20260702"
    sizes="96x96"
  />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=20260702" />
  <link rel="shortcut icon" href="/favicon.ico?v=20260702" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/apple-touch-icon.png?v=20260702"
  />
  <meta name="apple-mobile-web-app-title" content="Clínica Fácil" />
  <meta name="theme-color" content="#1ab394" />
</head>
